[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/tiandaolunhui
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tiandaolunhui
	label-Verified = -1..+1 group user/tiandaolunhui
	push = group user/tiandaolunhui
	read = group user/tiandaolunhui
	rebase = group user/tiandaolunhui
	removeReviewer = group user/tiandaolunhui
	submit = group user/tiandaolunhui
[access "refs/heads/*"]
	create = group user/tiandaolunhui
	push = +force group user/tiandaolunhui
	pushMerge = group user/tiandaolunhui
	read = group user/tiandaolunhui
[access "refs/tags/*"]
	push = group user/tiandaolunhui
	push = +force group user/tiandaolunhui
